
# active-learning-interface/mysite/db.sqlite3
active-learning-interface/.idea/workspace.xml
*/.idea/*
*.ipynb
*/.ipynb_checkpoints
.idea/
*/__pycache__
*__pycache__*
active-learning-interface/mysite/image/migrations/__pycache__/*

gui/django/\.idea/

active-learning-interface/mysite/mysite/__pycache__/

active-learning-interface/mysite/\.idea/

gui/django/crc/\.idea/

gui/django/crc/crc/__pycache__/

gui/django/crc/prototype/__pycache__/

gui/django/crc/prototype/migrations/__pycache__/

active-learning-interface/mysite/image/__pycache__/
