{%  extends 'proto/base.html' %}
{%  block title %} change password {% endblock %}
{% block content %}
    {%  if user.is_authenticated %}
        <section class="section">
            <div class="columns is-centered">
                <div class=" column is-half">
                    <div class="field">
                        <div class="level-item has-text-centered">
                            <p id="messageField">some text, {{ message }}</p>
                            <form action="changePassword" method="POST">
                                {% csrf_token %}
                                <div class="container">
                                    <div class="field">
                                        <label class="label">current password</label>
                                        <p class="control has-icons-left has-icons-right">
                                            <input class="input is-success" type="password" placeholder="current password" name="oldPassword" id="oldPassword">
                                            <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                                            <span class="icon is-small is-right">
                             <i class="fas fa-check"></i>
                        </span>
                                        <p class="help is-success">This password is correct</p>
                                        <label class="label">new password</label>
                                        <p class="control has-icons-left">
                                            <input class="input" type="password" placeholder="new password" name="newPassword" id="newPassword">
                                            <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>

                                        </p>
                                        <label class="label">confirm new Password</label>
                                        <p class="control has-icons-left has-icons-right">
                                            <input class="input is-danger" type="password" placeholder="confirm new password" name="confirmNew" id="confirmNew">
                                            <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                                            <span class="icon is-small is-right">
                             <i class="fas fa-times"></i>
                        </span>
                                        <p class="help is-danger">Passwords don't match</p>
                                    </div>
                                    <div class="field">
                                        <input type="submit" class="button is-link is-centered" value="OK">
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% else %}
        <div class="columns">
            <div class="column is-two-fifths"></div>
            <div class="column">
                <p> You're not logged in! </p>
                <a href="{% url 'login'%}">Go to login</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}
{%  block js %}

    window.onload = function (){
        receivedMessage = {{ message }}
        document.getElemtById("messageField").innerHTML = Hello
    }

{% endblock js %}