{%  extends 'proto/base.html' %}
{%  block title %} Login {% endblock %}
{% block content %}



    <section class="section">
        <div class="columns is-centered">
            <div class=" column is-half">
                <div class="field">


                    <label class="label">login using the password</label>
                    <p class="control has-icons-left">
                        <input class="input is-danger" type="password" placeholder="password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        <p class="help is-danger">Wrong password</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="level-item has-text-centered">
            <button class="button is-link" onclick="location.href='{% url 'main' %}'">Submit</button>

        </div>
    </section>
{% endblock %}