{%  extends 'proto/base.html' %}
{%  block title %} Home {% endblock %}
{% block content %}
    {%  if user.is_authenticated %}
        <body onload="setLabels()">
        <section class="section is-centered">
            <div class="level-item has-image-centered">
                <figure class="image is-256by256" >
                    <img src="{{ image.data.url }}">
                    <figcaption>description: {{ description }}</figcaption>
                </figure>
            </div>
        </section>
        <div class="columns">
            <div class="column">
                <section class="section">
                    <div class="field">
                        <div class="level-item has-text-centered">
                            Please select the tool that you can see in the picture and confirm your
                            selection by clicking the Submit button1
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <form action="getSelectedLabels" method="POST">
                            {% csrf_token %}
                            <div class="container">
                                <div class="field">
                                    {% for label in labels %}
                                        <div class="field">
                                            <label class="checkbox">
                                                <input type="checkbox" name="answer" id="{{ label }}" value="{{ label }}">
                                                <label for="{{ label }}">{{ label }}</label>
                                            </label>
                                        </div>

                                    {% endfor %}
                                </div>
                                <div class="field">
                                    <input type="submit" class="button is-link is-centered" value="OK">
                                </div>
                                <div class="field">
                                    <input type="submit" class="button is-link is-centered" value="no tool visible" formaction="noTools">
                                    <input type="submit" class="button is-link is-centered" value="I don't know" formaction="dontKnow">
                                    <input type="submit" class="button is-link is-centered" value="Go back" formaction="goToPreviousImage">
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>

    {% else %}
        <div class="columns">
            <div class="column is-two-fifths"></div>
            <div class="column">
                <p> You're not logged in! </p>
                <a href="{% url 'login'%}">Go to login</a>
            </div>
        </div>


    {%  endif %}
{% endblock %}



