{% extends 'proto/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <body onload="setLabels()">
        <div class="columns">
            <div class="column">

                <section class="section is-centered">
                    <div class="level-item has-image-centered">
                        <figure class="image is-256by256">
                            <img src="{{ image.data.url }}">
                            <figcaption>description: {{ description }}</figcaption>
                        </figure>
                    </div>
                </section>
            </div>

            <div class="column is-offset-one-quarter">
                <section class="section is-centered">
                    <div class="level-item">
                        <form action="getSelectedLabels" method="POST" id="labelForm" onkeyup="getEnter()">
                            {% csrf_token %}
                            <div class="container">
                                <div class="field">
                                    {% for label in labels %}
                                        <div class="field">
                                            <label class="checkbox">
                                                <input type="checkbox" name="answer" id="{{ label }}"
                                                       value="{{ label }}" class="switch">
                                                <label for="{{ label }}">{{ label }}</label>
                                            </label>
                                        </div>

                                    {% endfor %}
                                </div>
                                {% if not previous %}
                                    <div class="field">
                                        <input type="submit" class="button is-link is-centered" value="OK start"
                                               id="submitBtn">
                                    </div>
                                    <div class="field">

                                    <input type="submit" class="button is-link is-centered" value="no tool visible"
                                           formaction="noTools">
                                    <input type="submit" class="button is-link is-centered" value="I don't know"
                                           formaction="dontKnow">
                                    <input type="submit" class="button is-link is-centered" value="Go back"
                                           formaction="goToPreviousImage">
                                    </div>
                                {% else %}
                                    <div class="field">
                                        <input type="submit" class="button is-link is-centered" value="OK prev"
                                               formaction="getSelectedLabelsPrevious">
                                    </div>
                                    <div class="field">

                                        <input type="submit" class="button is-link is-centered" value="no tool visible"
                                               formaction="noToolPrevious">
                                        <input type="submit" class="button is-link is-centered" value="I don't know"
                                               formaction="dontKnowPrevious">
                                     <input type="submit" class="button is-link is-centered" value="Go back"
                                           formaction="goToPreviousImage">
                                    </div>
                                {% endif %}


                            </div>
                        </form>

                    </div>
                           Please select the tool that you can see in the picture <br>
                            and confirm your selection by clicking the Submit button

                </section>
            </div>
        </div>

    {% else %}
        <div class="columns">
            <div class="column is-two-fifths"></div>
            <div class="column">
                <p> You're not logged in! </p>
                <a href="{% url 'login' %}">Go to login</a>
            </div>
        </div>


    {% endif %}
{% endblock %}



