<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/cards.css">


</head>
{% extends 'proto/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
<body>

<div class="container">
    <div id="flow">
        <span class="flow-1"></span>
        <span class="flow-2"></span>
        <span class="flow-3"></span>
    </div>
    <div class="section">

        <div class="row columns">
            {% for image in images %}
            <div>{{image.description}}</div>
            <div class="column is-one-third">
                <div class="card large">
                    <div class="card-image">
                        <figure>
                            <img static src="{%static image.path%}" class="imagee" alt="Image"
                                 style="display: block; margin: 0 auto; height:270px; margin-bottom: 5px">
                        </figure>
                        <form action="goToImage" class="edit" method="POST">
                            {% csrf_token %}
                            <input type="hidden" class="imagee" value={{image.description}}>
                            <input type="submit" value="Edit image" style="display: block; margin: 0 auto;">
                        </form>
                    </div>

                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>

        <div class="row columns">
            {% endif %}
            {% endfor %}
        </div>


    </div>
</div>

<footer class="footer">
    <div class="container">

        <p style="display:none;">
            <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
            The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
        </p>
    </div>
    </div>
</footer>

<script src="../js/bulma.js"></script>


</body>
<script type="text/javascript">

    $(document).ready(function () {

              $(".edit").click(function (e) {
                var element = $(this).find(".imagee");
                element.attr('name', 'image');
              });


});



</script>

</html>
{% endblock %}
